@{
    ViewBag.Title = "Mapa";
}

<h2>Mapa</h2>

<style>
    #map-canvas {
        width: 100%;
        height: 400px;
        background-color: #CCC;
    }
</style>

<div class="jumbotron">
    @using (Html.BeginForm("CalcularDistancia", "Direccion", FormMethod.Post, new { @Class = "form-inline" }))
    {
        <input type="text" class="form-control" id="Direccion" name="Direccion" placeholder="Direccion" />
        <button class="btn btn-primary" type="submit">Buscar</button>
    }
    <br />
    @if (ViewBag.Message!=null)
    {
        <h3>@ViewBag.Message</h3>
        <br />
    }
    <div class="row">
        <div id="map-canvas"></div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJEX5MZtX7pA13_QW0hXWtQzjeTwvuxiI"></script>
<script src="~/Scripts/mapCalcularDistancia.js"></script>