@model IEnumerable<Models.Carrito>
@using Detergente.Metodos
@{ 
    var ListaJson = AgregarCarro.ProductosCarritosJson((string)System.Web.HttpContext.Current.Session["Carrito"]);
    var Total = AgregarCarro.TotalizarCarrito((string)System.Web.HttpContext.Current.Session["Carrito"]);

}
@if (ListaJson==null) {
<div class="jumbotron">

    <div class="container">
        <p>No tiene nada en su carrito de compra aprete el volver para regresar al inicio</p>

        @Html.ActionLink("Volver al inico", "Index", "Home")
    </div>
</div>
}
else{
<div class="jumbotron">

    <div class=" container table-responsive ">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>

                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Precio Total
                    </th>
                </tr>
            </thead>


            @foreach (var item in ListaJson)
            {
                <tr>
                    <td>
                        <img src="/Images/@item.Producto.ImagePath" height="100" width="100">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Producto.Precio)
                    </td>
                    <td>
                        @{
                            var pre = (int)item.Producto.Precio;
                            var canti = item.Cantidad;
                            var multi = pre * canti;

                        }

                        $@multi
                    </td>
                </tr>
            }@*fin foreach*@
            <tr class="bg-success">
                <td></td>
                <td>Total :</td>
                <td>$@Total</td>
            </tr>

        </table>
    </div>
</div>
}

